[submodule "external/JUCE"]
	path = external/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "external/tracktion_engine"]
	path = external/tracktion_engine
	url = https://github.com/tracktion/tracktion_engine.git
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
