[submodule "external/JUCE"]
	path = external/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "external/tracktion_engine"]
	path = external/tracktion_engine
	url = https://github.com/tracktion/tracktion_engine.git
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/rubberband"]
	path = external/rubberband
	url = https://github.com/breakfastquay/rubberband.git
[submodule "external/signalsmith-stretch"]
	path = external/signalsmith-stretch
	url = https://github.com/Signalsmith-Audio/signalsmith-stretch.git
[submodule "external/signalsmith-linear"]
	path = external/signalsmith-linear
	url = https://github.com/Signalsmith-Audio/linear.git
